<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>+GetWild.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFF3C59A222E204500B15C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFF3C5AE222E204600B15C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFF3C5B9222E204600B15C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
